.AboutText{
    display: flex;
    justify-content: space-between;
    margin-left:500px;
    margin-right:200px;
font-family: 'IBM Plex Sans';
font-style: normal;
font-size: 20px;
letter-spacing: -0.05em;
text-transform: uppercase;

background: linear-gradient(270.16deg, #FFB147 5.74%, #FF6C63 50.64%, #B86ADF 92.05%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;

}